body {
    width: 500px;
    height: 100px;
    margin: 0;
}

h1 {
    font-family: 'Nanum Gothic', sans-serif;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 5px 5px 5px 5px;
    line-height: 100%;
    font-size: 13px;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.pages {
    float: left;
    text-align: center;
    width: 100px;
    height: 110px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.pageWrap {
    float: left;
    text-align: center;
    width: 100px;
    height: 70px;
    margin: 0px 0px 0px 0px;
}

.pageicons {
    margin: 5px 5px 5px 5px;
    width: 32px;
    height: 32px;
}

.leftButtons {
    font-family: 'Nanum Gothic', sans-serif;
    background: #DE9391;
    border-radius: 8px;
    color: white;
    border: none;
    position: relative;
    height: 21px;
    font-size: 1.1em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.leftButtons:hover {
    background: white;
    color: #DE9391;
}

.leftButtons:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #DE9391;
    transition: 400ms ease all;
}

.leftButtons:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.leftButtons:hover:before,
.leftButtons:hover:after {
    width: 0%;
    transition: 800ms ease all;
}

.basicButtons {
    font-weight: 500;
    font-family: 'Nanum Gothic', sans-serif;
    background: #455B71;
    border-radius: 8px;
    color: white;
    border: none;
    position: relative;
    height: 21px;
    font-size: 1.1em;
    padding: 0 1em;
    cursor: pointer;
    transition: 700ms ease all;
    outline: none;
}

.basicButtons:hover {
    background: #fff;
    color: #6DA0D9;
}

.basicButtons:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #6DA0D9;
    transition: 400ms ease all;
}

.basicButtons:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.basicButtons:hover:before,
.basicButtons:hover:after {
    width: 0%;
    transition: 700ms ease all;
}

#btnDarkMode {
    margin-right: 73px;
}

#buttonBoxWrap {
    margin-top: 10px;
    position: relative;
    bottom: 5px;
    height: 30px;
    width: 100%;
    text-align: right;
    float: left;
}

#title {
    margin-left: 20px;
    margin-bottom: 10px;
}

#delete {
    margin-right: 10px;
}


/*
Popr 1.0
Copyright (c) 2015 Tipue
Popr is released under the MIT License
http://www.tipue.com/popr
*/

.popr {
    cursor: pointer;
}

.popr a {
    color: #333;
    text-decoration: none;
    border: 0;
}

.popr-box {
    display: none;
}

.popr_content {
    background-color: #fff;
    padding: 7px 0;
    margin: 0;
}

.popr-item {
    width: 70px;
    color: #333;
    padding: 4px 10px 4px 10px;
}

.popr-item:hover {
    color: #333;
    background-color: #dcdcdc;
}

.popr_container_bottom {
    display: none;
    position: absolute;
    margin-top: 10px;
    box-shadow: 2px 2px 5px #f9f9f9;
    z-index: 1000;
}

.popr_container_top {
    display: none;
    position: absolute;
    box-shadow: 2px 2px 5px #f9f9f9;
    z-index: 1000;
}

.popr_point_top,
.popr_point_bottom {
    position: relative;
    background: #fff;
    border: 1px solid #dcdcdc;
}

.popr_point_top:after,
.popr_point_top:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    top: 100%;
    content: "";
    height: 0;
    width: 0;
}

.popr_point_top:after {
    border-top-color: #fff;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.popr_point_top:before {
    border-top-color: #dcdcdc;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}

.popr_point_bottom:after,
.popr_point_bottom:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
}

.popr_point_bottom:after {
    border-bottom-color: #fff;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.popr_point_bottom:before {
    border-bottom-color: #dcdcdc;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}